@import 'tailwindcss';
@import 'uplot/dist/uPlot.min.css';
@plugin 'daisyui';

/* latin-ext */
@font-face {
	font-family: 'Roboto Mono';
	font-style: normal;
	font-weight: 100 700;
	font-display: swap;
	src: url('$lib/assets/fonts/roboto-mono-normal-latin-ext.woff2') format('woff2');
	unicode-range:
		U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329,
		U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F,
		U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: 'Roboto Mono';
	font-style: normal;
	font-weight: 100 700;
	font-display: swap;
	src: url('$lib/assets/fonts/roboto-mono-normal-latin.woff2') format('woff2');
	unicode-range:
		U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329,
		U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* inter latin-ext */
@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 100 900;
	font-display: swap;
	src: url('$lib/assets/fonts/inter-normal-latin-ext.woff2') format('woff2');
	unicode-range:
		U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329,
		U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F,
		U+A720-A7FF;
}
/* inter latin */
@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 100 900;
	font-display: swap;
	src: url('$lib/assets/fonts/inter-normal-latin.woff2') format('woff2');
	unicode-range:
		U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329,
		U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
	--level-error: #ef4444;
	--level-critical: #ec4899;
	--level-warning: #f59e0b;
	--level-info: #3b82f6;
	--level-debug: #22d3ee;
	--level-unknown: #8b5cf6;
}

@theme {
	--font-sans: 'Inter', system-ui, sans-serif;
	--color-level-error: var(--level-error);
	--color-level-critical: var(--level-critical);
	--color-level-warning: var(--level-warning);
	--color-level-info: var(--level-info);
	--color-level-debug: var(--level-debug);
	--color-level-unknown: var(--level-unknown);
}

@plugin 'daisyui/theme' {
	name: 'wireframe';
	default: true;
	prefersdark: false;
	color-scheme: 'light';
	--color-base-100: oklch(100% 0 0);
	--color-base-200: oklch(97% 0 0);
	--color-base-300: oklch(94% 0 0);
	--color-base-content: oklch(20% 0 0);
	--color-primary: oklch(87% 0 0);
	--color-primary-content: oklch(26% 0 0);
	--color-secondary: oklch(87% 0 0);
	--color-secondary-content: oklch(26% 0 0);
	--color-accent: oklch(89% 0.196 126.665);
	--color-accent-content: oklch(26% 0 0);
	--color-neutral: oklch(87% 0 0);
	--color-neutral-content: oklch(26% 0 0);
	--color-info: oklch(58% 0.158 241.966);
	--color-info-content: oklch(90% 0.058 230.902);
	--color-success: oklch(59% 0.145 163.225);
	--color-success-content: oklch(90% 0.093 164.15);
	--color-warning: oklch(66% 0.179 58.318);
	--color-warning-content: oklch(92% 0.12 95.746);
	--color-error: oklch(57% 0.245 27.325);
	--color-error-content: oklch(88% 0.062 18.334);
	--radius-selector: 0rem;
	--radius-field: 0rem;
	--radius-box: 0.25rem;
	--size-selector: 0.25rem;
	--size-field: 0.25rem;
	--border: 1px;
	--depth: 0;
	--noise: 0;
}
