@import 'tailwindcss';
@import 'uplot/dist/uPlot.min.css';
@plugin 'daisyui';

/* latin-ext */
@font-face {
	font-family: 'Roboto Mono';
	font-style: normal;
	font-weight: 100 700;
	font-display: swap;
	src: url('$lib/assets/fonts/roboto-mono-normal-latin-ext.woff2') format('woff2');
	unicode-range:
		U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329,
		U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F,
		U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: 'Roboto Mono';
	font-style: normal;
	font-weight: 100 700;
	font-display: swap;
	src: url('$lib/assets/fonts/roboto-mono-normal-latin.woff2') format('woff2');
	unicode-range:
		U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329,
		U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* inter latin-ext */
@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 100 900;
	font-display: swap;
	src: url('$lib/assets/fonts/inter-normal-latin-ext.woff2') format('woff2');
	unicode-range:
		U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329,
		U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F,
		U+A720-A7FF;
}
/* inter latin */
@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 100 900;
	font-display: swap;
	src: url('$lib/assets/fonts/inter-normal-latin.woff2') format('woff2');
	unicode-range:
		U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329,
		U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
	--level-error: #ef4444;
	--level-critical: #ec4899;
	--level-warning: #f59e0b;
	--level-info: #3b82f6;
	--level-debug: #22d3ee;
	--level-unknown: #8b5cf6;

	--json-key: #005cc5;
	--json-string: #032f62;
	--json-number: #005cc5;
	--json-boolean: #005cc5;
	--json-null: #005cc5;
	--json-punctuation: #24292e;
}

@theme {
	--font-sans: 'Inter', system-ui, sans-serif;
	--color-level-error: var(--level-error);
	--color-level-critical: var(--level-critical);
	--color-level-warning: var(--level-warning);
	--color-level-info: var(--level-info);
	--color-level-debug: var(--level-debug);
	--color-level-unknown: var(--level-unknown);
}

@plugin 'daisyui/theme' {
	name: 'cmyk';
	default: true;
	prefersdark: false;
	color-scheme: 'light';
	--color-base-100: oklch(100% 0 0);
	--color-base-200: oklch(95% 0 0);
	--color-base-300: oklch(90% 0 0);
	--color-base-content: oklch(20% 0 0);
	--color-primary: oklch(71.772% 0.133 239.443);
	--color-primary-content: oklch(14.354% 0.026 239.443);
	--color-secondary: oklch(64.476% 0.202 359.339);
	--color-secondary-content: oklch(12.895% 0.04 359.339);
	--color-accent: oklch(89% 0.196 126.665);
	--color-accent-content: oklch(18.845% 0.037 105.306);
	--color-neutral: oklch(21.778% 0 0);
	--color-neutral-content: oklch(84.355% 0 0);
	--color-info: oklch(68.475% 0.094 217.284);
	--color-info-content: oklch(13.695% 0.018 217.284);
	--color-success: oklch(46.949% 0.162 321.406);
	--color-success-content: oklch(89.389% 0.032 321.406);
	--color-warning: oklch(71.236% 0.159 52.023);
	--color-warning-content: oklch(14.247% 0.031 52.023);
	--color-error: oklch(62.013% 0.208 28.717);
	--color-error-content: oklch(12.402% 0.041 28.717);
	--radius-selector: 0.25rem;
	--radius-field: 0.5rem;
	--radius-box: 0.25rem;
	--size-selector: 0.25rem;
	--size-field: 0.25rem;
	--border: 1px;
	--depth: 0;
	--noise: 0;
}

.os-theme-dark {
	--os-size: 6px;
	--os-handle-border-radius: 3px;
	--os-handle-bg: oklch(70% 0 0 / 0.3);
	--os-handle-bg-hover: oklch(70% 0 0 / 0.5);
	--os-handle-bg-active: oklch(70% 0 0 / 0.6);
	--os-track-bg: transparent;
}
